<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>My Orders</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>My Orders</h1>-->
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Pizza Name</th>-->
<!--    <th>Quantity</th>-->
<!--    <th>Total Price</th>-->
<!--    <th>Date</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="order : ${orders}">-->
<!--    <td th:text="${order.pizza.name}">Pizza Name</td>-->
<!--    <td th:text="${order.quantity}">Quantity</td>-->
<!--    <td th:text="'$' + ${order.totalPrice}">Total Price</td>-->
<!--    <td th:text="${order.date}">Order Date</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
